{{- $limit := 5 -}}
{{- with .Site.Params.blog_params.article_page.related_posts_limit -}}
    {{- $limit = int . -}}
{{- end -}}

{{- $related := (where (.Site.RegularPages.Related .) "Params.hidden" "!=" true) | first $limit -}}
{{- with $related -}}
<aside class="related-content--wrapper">
    <h2 class="section-title">{{ T "article.relatedContent" }}</h2>
    <div class="related-content">
        <div class="flex article-list--tile">
            {{- range . -}}
                {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "articleList") }}
            {{- end -}}
        </div>
    </div>
</aside>
{{- end -}}
